.frame
  .tree
    .crescent
    .canopy
      .left
      .right
    .trunk
      - for (var i = 1; i <= 7; i++)
        div(class="branch branch"+i)
    .fruit
      - for (var i = 1; i <= 7; i++)
        div(class="fruit fruit"+i)
    .base