body{
	background: #FFC804;
}
// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #3c5367;
  color: #333;
}

.candle-container {
  position: absolute;
	height: 176px;
	width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.candle-holder2 {
	position: absolute;
	height: 12px;
	width: 150px;
	bottom: 0;
	background: #28374C;
	border-radius: 10px;
}

.candle-holder1 {
	position: absolute;
	bottom: 12px;
	left: 15px;
	height: 10px;
	width: 120px;
	background: #2b3b50;
	border-radius: 10px 10px 0px 0px;
	border-bottom: solid 2px #2c323b;
	margin: auto;
}

.candle-wax {
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252,232,198,1) 50%, rgba(249,229,188,1) 70%, rgba(232,224,203,1) 92%, rgba(239,230,211,1) 100%);
	border-radius: 6px;
	height: 110px;
	width: 54px;
	bottom: 24px;
	left: 48px;
	position: absolute;
}

.candle-wick {
	height: 10px;
	width: 5px;
	background: linear-gradient(215deg, rgba(239,230,211,1) 0%, rgba(239,230,211,1) 17%, rgba(96,96,96,1) 20%, rgba(239,230,211,1) 23%, rgba(239,230,211,1) 37%, rgba(96,96,96,1) 40%, rgba(239,230,211,1) 43%, rgba(239,230,211,1) 57%, rgba(96,96,96,1) 60%, rgba(239,230,211,1) 63%, rgba(239,230,211,1) 77%, rgba(96,96,96,1) 80%, rgba(239,230,211,1) 83%, rgba(239,230,211,1) 100%);
	position: absolute;
	bottom: 134px;
	left: 72.5px;
}

.top-flame {
	position: absolute;
	bottom: 145px;
	left: 65.5px;
	height: 34px;
	width: 20px;
	background: radial-gradient(circle, rgba(255,107,45,1) 0%, rgba(254,116,47,1) 26%, rgba(255,132,65,1) 42%, rgba(255,149,0,1) 60%, rgba(247,177,11,1) 100%);
	border-radius: 20px 2px 10px 10px / 25px 25px 15px 15px;
	animation: move-flame 15s linear infinite, move2-flame 10s linear infinite, expand-flame 10s linear infinite, flame-glow 5s linear infinite; 
}

@keyframes move-flame {
	0%, 20%, 50%, 65%, 85%, 100% {
		transform: translateX(-5%) rotate(-5deg);
	}
	
	12%, 37%, 56%, 77%, 92% {
		transform: translateX(-5%) rotate(5deg);
	}
}

@keyframes move2-flame {
		0%, 20%, 50%, 65%, 85%, 100% {
	border-radius: 2px 20px 10px 10px / 25px 25px 15px 15px;
	}
	
	12%, 37%, 56%, 77%, 92% {
	border-radius: 20px 2px 10px 10px / 25px 25px 15px 15px;
	}
}

@keyframes expand-flame {
	0%, 20%, 50%, 65%, 85%, 100% {
		transform: scale(1.1);
	}
	
	12%, 37%, 56%, 77%, 92% {
		transform: scale(0.95, 1.2);
	}
}

@keyframes flame-glow {
	0%, 20%, 50%, 65%, 85%, 100% {
		box-shadow: 0px -5px 40px 0px rgba(220,138,12,1);
	}
	
	12%, 37%, 56%, 77%, 92% {
		box-shadow: 0px -5px 40px 0px rgba(255,175,15,0.8);
	}
}

.mid-flame {
	width: 9px;
	height: 11px;
	position: absolute;
	bottom: 142px;
	left: 70px;
	background: rgba(0,133,255,.3);
	border-radius: 2px 20px 10px 10px / 25px 25px 15px 15px;
	animation: move-midflame 10s linear infinite;
}

@keyframes move-midflame {
		0%, 20%, 50%, 65%, 85%, 100% {
	border-radius: 2px 20px 10px 10px / 25px 25px 15px 15px;
	}
	
	12%, 37%, 56%, 77%, 92% {
	border-radius: 20px 2px 10px 10px / 25px 25px 15px 15px;
	}
}