.frame
  .pigFace-Container
    .head
      div(class="eye eye-left")
      div(class="eye eye-right")
      .nose
        div(class="nostril nostril-left")
        div(class="nostril nostril-right")
    div(class="ear ear-left")
    div(class="ear ear-right")